*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
	background-color: #091f32;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #00000000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;

}

.logo {
    margin-left: 30px;

}

#logonav {
    width: 7%;
    position: absolute;
    left: 1.5%;
    top: 10px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

.navbar a:hover {
    background: #5f5e5e54;
}

.title {
    margin-bottom: 40px;
    font-size: 26.8px;
    color: #0e2454;
    line-height: 4rem;
    letter-spacing: 0.95rem;
}

.sub-title {
    margin-bottom: 30px;
    font-size: 22.661px;
    position: absolute;
    letter-spacing: 0.51rem;
    line-height: 2.6rem;
    color: #ffffff;
}

p {
    font-size: 14.7px;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    color: #0e2454;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    border: 2px solid #fff;
    background: #fff;
    color: #0e2454;
    text-decoration: none;
    height: 2.07%;
    width: 7.2%;
    font-size: 12px;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.home {
    background: url(img/newbg/startbg.jpg);
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 119.7vh;
}

.overlay-home {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 70%;
}

.overhome-effect {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
}

.home .sub-title {
    position: absolute;
    color: #fff;
    letter-spacing: 7px;
    top: 14.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.welcome{
    background: url(img/newbg/homebg.jpg);
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 239.8vh;
}
#welcomest {
    position: absolute;
    color: #0e2454;
    top: 1.3%;
    left: 38.4%;
    letter-spacing: 0.74rem;
    font-weight: bold;
}

.welcome .title {
    position: absolute;
    color: #0e2454;
    font-weight: bold;
    top: 9%;
    left: 23%;
    letter-spacing: 18px;
}

.left-paragraph {
    text-align: left;
    position: absolute;
    bottom: 71.6%;
    left: 16.4%;
    width: 19.7%;
}

.right-paragraph {
    text-align: right;
    position: absolute;
    bottom: 57%;
    left: 17.2%;
    width: 24%;
}

.text3 {
    text-align: justify;
    position: absolute;
    top: 59.8%;
    left: 49.6%;
    width: 22%;
}

.img1 {
    position: absolute;
    top: 36.9%;
    left: 66.6%;
    transform: translate(-50%, -50%);
    max-width: 33.6%;
}

.img1-text1 {
    color: #fff6ea;
    font-size: 43px;
    text-align: left;
    position: absolute;
    bottom: 55.5%;
    left: 52.2%;
    width: 23.5%;
    letter-spacing: 0.43rem;
}

.img1-text2 {
    color: #fff6ea;
    font-size: 24px;
    text-align: left;
    position: absolute;
    bottom: 49.4%;
    left: 52.2%;
    width: 30%;
    letter-spacing: 0.25rem;
}

.img2 {
    position: absolute;
    top: 62.9%;
    left: 28.6%;
    transform: translate(-50%, -50%);
    max-width: 27%;
}

.img2-text1 {
    color: #0e2454;
    font-size: 26px;
    text-align: center;
    position: absolute;
    bottom: 44%;
    left: 14.8%;
    width: 28%;
    letter-spacing: 0.25rem;
}

.img2-text2 {
    color: #fff6ea;
    font-size: 18px;
    position: absolute;
    top: 70%;
    left: 13.2%;
    width: 24%;
    letter-spacing: 0.18rem;
}

.tleft {
    text-align: left;
}
.tright {
    text-align: right;
    position: absolute;
    top: 100%;
    left: 27.2%;
    width: 90%;
}

#endf {
    top: 88.7%;
    left: 26.7%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service{
    background: url(img/newbg/servicesbg.jpg);
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 119.9vh;
    
}

.service .title {
    position: absolute;
    width: 20%;
    top: 5%;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .boxa, .boxb, .boxc {
    position: absolute;
    top: 35.6%;
    height: 11rem;
    width: 8rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rbga(0, 0, 0, .5);
    margin: 0rem;
}

.boxa { 
    left: 24.4%;
}

.boxb {
    left: 45.4%;
}

.boxc {
    left: 66.7%;
}

.box-container .imgcontbox {
    width: 8rem;
    text-align: center;
    margin: 1rem 0;
}

.serviceof {
    font-size: 17px;
    line-height: 1.5rem;
    letter-spacing: 0.28;
    position: absolute;
    top: 77.3%;
    color: #fff;

}

#sodif {
    font-size: 1rem;
    line-height: 1.2rem;
}

#btnserv {
    position: absolute;
    bottom: 20.5%;
    left: 43.5%;
}

.about {
    background: url(img/newbg/calculatorbg.jpg);
    min-height: 359.7vh;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#calctitle {
    position: absolute;
    top: 1.3%;
    left: 34.9%;
    line-height: 4rem;
    letter-spacing: 0.95rem;
}

#paragcalc {
    position: absolute;
    text-align: center;
    width: 68%;
    top: 8.4%;
    font-size: 1rem;
    line-height: 2.5rem;
}

#subcalc {
    position: absolute;
    top: 16.2%;
    left: 42.1%;
    letter-spacing: 0.43rem;
    font-size: 1.17rem;
    color: #000;
}

#calch3 {
    position: absolute;
    top: 23.9%;
    font-size: 0.68rem;
    color: #000;
    letter-spacing: 0.17rem;
    left: 29.8%;
}

#solar-form label {
    position: absolute;
    letter-spacing: 0.18rem;
    top: 18.8%;
}

#leftform {
    left: 30.3%;
}

#rightform {
    left: 52.6%;
}

#solar-form input {
    position: absolute;
    background: rgba(101, 128, 101, 0);
    color: #fff;
    width: 8%;
    top: 21.4%;
    height: 1.1%;
}

#User-Consum {
    left: 34.3%;
}

#kW-cost {
    left: 56.6%;
}
.calcresult {
    position: absolute;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
}

.result p {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

#Annualsaving {
    position: absolute;
    top: 29.5%;
    left: 22.2%;
}

#solarprod {
    position: absolute;
    top: 29.5%;
    left: 46.4%;
}

#emissionsavo {
    position: absolute;
    top: 29.5%;
    left: 67.9%;
}

#estimatedinv {
    position: absolute;
    top: 40.2%;
    left: 26.7%;
}

#invreturntime {
    position: absolute;
    top: 40.2%;
    left: 64.2%;
}

#SaveANtext {
    top: 25.3%;
    left: 18.4%;
    width: 18%;
}

#EnerGentext {
    top: 32.6%;
    width: 13%;
    left: 43.8%;
}

#Emitext {
    top: 25.3%;
    right: 19.6%;
    width: 15%;
}

#invetext {
    top: 36.2%;
    width: 15%;
    left: 24.9%;
}

#retimetext {
    top: 36.2%;
    width: 17%;
    right: 23.6%;
}


#aboutim {
    position: absolute;
    max-width: 32.7%;
    top: 55.2%;
    right: 16.3%;
}

#aboutt {
    position: absolute;
    top: 56.6%;
    left: 17.6%;
    letter-spacing: 1.3rem;
}

.abouttext {
    text-align: justify;
    position: absolute;
    top: 69.4%;
    left: 16.2%;
    width: 26%;
}

.btnabout {
    background: #E1C699;
}

#btnvis {
    position: absolute;
    background: #eee1ca;
    top: 64.9%;
    left: 13.6%;
    width: 1.9%;
    height: 0.6%;
}

#btnmis {
    position: absolute;
    background: #eee1ca;
    top: 64.9%;
    left: 25.4%;
    width: 1.9%;
    height: 0.6%;
    
}

#btnval {
    position: absolute;
    background: #eee1ca;
    top: 64.9%;
    left: 36.7%;
    width: 1.9%;
    height: 0.6%;
}

#mision {
    top: 24.5%;
    left: 43.6%;
    letter-spacing: 12px;
}

.contact {
    background: url(img/newbg/contactbg.jpg);
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 186.4vh;
}

#contsub1 {
    top: 97.2%;
    color: #1A3171;
    font-size: 0.9rem;
    letter-spacing: 0.37rem;
}

#contsub2 {
    bottom: 96.3%;
    color: #1A3171;
    font-size: 0.9rem;
    letter-spacing: 0.37rem;
}

#contitle {
    position: absolute;
    bottom: 73.5%;
    letter-spacing: 1.27rem;
    left: 34.4%;
}

#wpp {
    position: absolute;
    left: 11.4%;
    top: 38.2%;
    color: #0e2454;
    font-size: 7.2rem;
}

#mail {
    position: absolute;
    left: 44.6%;
    top: 38.9%;
    color: #0e2454;
    font-size: 6.4rem;
}

#ig {
    position: absolute;
    left: 76.5%;
    top: 38.3%;
    font-size: 7.2rem;
    color: #0e2454;
}

.contactnum {
    text-decoration: none;
    position: absolute;
    left: 10.4%;
    color: #0e2454;
    font-size: 1.2rem;
    letter-spacing: 0.49rem;
}

#num1 {
    top: 50.1%;
}

#num2 {
    top: 53.1%;
}

#maillink {
    text-decoration: none;
    text-align: center;
    line-height: 2.3rem;
    position: absolute;
    top: 48.9%;
    left: 41.5%;
    color: #0e2454;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
}

.logoimg {
    width: 25%;
    position: absolute;
    top: 70.4%;
    left: 37.4%;

}

#logoindex {
    bottom: 25%;
}

.aboutstart {
    background: url(img/NOSOTROS1.jpg);
    height: 239.5vh;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.aboutend {
    background: url(img/NOSOTROS2.jpg);
    height: 239.9vh;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#abouttitle {
    position: absolute;
    top: 8.6%;
    left: 29.2%;
    letter-spacing: 40px;
}

#paragmi {
    position: absolute;
    top: 33%;
    left: 16%;
    text-align: justify;
    width: 68%;
    letter-spacing: 8px;

}

#vision {
    top: 67.7%;
    left: 43.6%;
    letter-spacing: 12px;
}

#paragvi {
    position: absolute;
    top: 75.5%;
    left: 16%;
    text-align: justify;
    width: 68%;
    letter-spacing: 6px;

}

#ourv {
    top: 3%;
    left: 30.7%;
    letter-spacing: 13px;
}

#paragva {
    position: absolute;
    top: 10.4%;
    left: 16%;
    text-align: justify;
    width: 68%;
    letter-spacing: 5px;

}

#ourteam {
    top: 33.7%;
    left: 32.3%;
    letter-spacing: 14px;
}

#paragt {
    position: absolute;
    top: 41.5%;
    left: 16%;
    text-align: justify;
    width: 68%;
    letter-spacing: 8px;

}

#logoabout {
    bottom: 15%;
}

.serviceheader {
    background: url(img/SERVICIOS1.jpg);
    height: 119.7vh;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#servicetitle {
    position: absolute;
    top: 12%;
    left: 40.4%;
    width: 9%;
    text-align: center;
}

#presentser {
    position: absolute;
    top: 45%;
    letter-spacing: 6px;
    line-height: 1.5;
    width: 79.8%;
    left: 10.7%;
    font-size: 19px;
}

#serv1 {
    position: absolute;
    top: 4%;
    left: 33.6%;
    font-size: 240%;
    letter-spacing: 6px;
    color: #fff;
}

.servicep2 {
    background: url(img/SERVICIOS2.jpg);
    height: 239.5vh;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.servicep3 {
    background: url(img/SERVICIOS3.jpg);
    height: 239.5vh;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.servicep4 {
    background: url(img/SERVICIOS4.jpg);
    height: 239.5vh;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.servicep5 {
    background: url(img/SERVICIOS5.jpg);
    height: 119.8vh;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#logoservices {
    bottom: 10%;
}

@media (max-width: 1080px) {

}

@media (max-width: 992px) {

    .sub-title{
        
        font-size: 15px;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;        
    }
    #welcomest.sub-title{
        left: 50%;
        transform: translateX(-50%);
    }

    p {
        font-size: 45%;
    }
    
    .left-paragraph {
        bottom: 71.6%;
        top: 27%;
        
    }
    
    .right-paragraph {
        bottom: 55.6%;
        
    }
    .img1{
        top: 40%;
    }
    .img1-text1{
        top: 42%;
        font-size: 25px;
        height: 5%;
    }
    .img1-text2{
        top: 46%;
        font-size: 13px;
        height: 6.95%;
    }

    .img2{
        top: 59%;
    }
    .img2-text1{
        font-size: 17px;
        left: 29%; 
        transform: translateX(-50%);
        top: 51%;

    }
    .img2-text2{
        font-size: 12px;
        left: 26%; 
        transform: translateX(-50%);
        top: 65%;
    }

    .text3{
        top: 56%;
        text-align: center; 
    }
    #endf.sub-title{
        font-size: 25px;

        left: 50%;
        transform: translateX(-50%);
    }

    .title{
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;

    }

    .boxa{
        left: 23%;
        
    }
    .boxb{
        left:44%;
        
    }
    #sodif.serviceof{
        top:65%;
    }
    .boxc{
        left:65%;
    }
    
    #btnserv.btn{
        left: 50%;
        transform: translateX(-50%);
        top:66%;
    }
    
    #calctitle.title{
        font-size: 20px;
        left: 50%;
        transform: translateX(-50%);
        top:14%;

    }
    #paragcalc{
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        top:18.5%;
    }
    #subcalc.sub-title{
        left: 50%;
        transform: translateX(-50%);
        top:25%;
    }

    #calch3{
        font-size: 9px;
        left: 50%;
        transform: translateX(-50%);
        top:31%
    }

    #SaveANtext.calcresult{
        font-size: 10px;
        top:32%;
    }

    #Emitext.calcresult{
        font-size: 10px;
        top:32%;
    }

    #EnerGentext.calcresult{
        font-size: 10px;
        top:37%;
    }

    #invetext.calcresult{
        font-size: 10px;
        top:39.75%;
    }

    #retimetext.calcresult{
        font-size: 10px;
        top:39.75%;
    }

    #rightform{
        left: 75%;
    }

    #kW-cost{
        transform: translateX(50%);
    }

    #leftForm{
        left: -25%;
    }

    #User-Consum{
        transform: translateX(50%);
    }

    #aboutt.title{
        font-size: 20px;
        left: 30%;
        top: 54.5%;
       
    }
    .abouttext{
        font-size: 10px;
        top: 64%;
    }

    #contsub1.sub-title{
        left: 50%;
        transform: translateX(-50%);
    }
    #contsub2.sub-title{
        left: 50%;
        transform: translateX(-50%);
        top:1%;
    }

    #contitle.title{
        top: 26%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 576px) {

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-color: #00000000;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    
    .navbar {
        display: flex;
        margin-right: 10px;
    
    }
    
    .logo {
        margin-left: 30px;
    
    }
    
    #logonav {
        width: 10%;
        position: absolute;
        left: 1.5%;
        top: 10px;
    }
    
    .navbar a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 9px;
    }
    
    .navbar a:hover {
        background: #5f5e5e54;
    }
    
    .title {
        margin-bottom: 40px;
        font-size: 26.8px;
        color: #0e2454;
        line-height: 4rem;
        letter-spacing: 0.95rem;
    }
    
    .sub-title {
        margin-bottom: 30px;
        font-size: 10px;
        position: absolute;
        letter-spacing: 0.08rem;
        line-height: 1rem;
        color: #ffffff;
    }
    
    p {
        font-size: 7px;
        line-height: 0.7rem;
        letter-spacing: 0.13rem;
        color: #0e2454;
    }
    
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
        border: 2px solid #fff;
        background: #fff;
        color: #0e2454;
        text-decoration: none;
        height: 2.07%;
        width: 7.2%;
        font-size: 12px;
    }

    .btn:hover {
        background: none;
    }

    .btn-home {
        display: flex;
    }

    .btn-home a {
        margin: 0 10px;
    }

    .home {
        background: url(img/newbg/startbg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 50vh;
    }

    .overlay-home {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        max-height: 50%;
    }

    .overhome-effect {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        top: 79%;
        width: 130px;
    }

    .home .sub-title {
        position: absolute;
        color: #fff;
        top: 24.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
        
    .welcome{
        background: url(img/newbg/homebg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 90vh;
    }

    #welcomest {
        position: absolute;
        color: #0e2454;
        top: 1.3%;
        left: 38.4%;
        letter-spacing: 0.54rem;
        font-weight: bold;
    }

    .welcome .title {
        position: absolute;
        color: #0e2454;
        font-weight: bold;
        top: 9%;
        left: 23%;
        letter-spacing: 18px;
    }

    .left-paragraph {
        position: absolute;
        text-align: left;
        top: 21%;
        left: 3%;
        width: 32%;
    }

    .right-paragraph {
        text-align: right;
        position: absolute;
        bottom: 57%;
        left: 1px;
        width: 42%;
    }

    .text3 {
        text-align: justify;
        position: absolute;
        top: 59.8%;
        left: 49.6%;
        width: 22%;
    }

    .img1 {
        position: absolute;
        top: 36.9%;
        left: 66.6%;
        transform: translate(-50%, -50%);
        max-width: 33.6%;
    }

    .img1-text1 {
        color: #fff6ea;
        font-size: 10px;
        text-align: left;
        position: absolute;
        bottom: 55.7%;
        left: 52.2%;
        width: 22%;
        letter-spacing: 0.15rem;
    }

    .img1-text2 {
        color: #fff6ea;
        font-size: 5.5px;
        text-align: left;
        position: absolute;
        bottom: 49.4%;
        left: 52.2%;
        width: 26%;
        letter-spacing: 0.1rem;
    }

    .img2 {
        position: absolute;
        top: 62.9%;
        left: 28.6%;
        transform: translate(-50%, -50%);
        max-width: 27%;
    }

    .img2-text1 {
        color: #0e2454;
        font-size: 26px;
        text-align: center;
        position: absolute;
        bottom: 44%;
        left: 14.8%;
        width: 28%;
        letter-spacing: 0.25rem;
    }

    .img2-text2 {
        color: #fff6ea;
        font-size: 18px;
        position: absolute;
        top: 70%;
        left: 13.2%;
        width: 24%;
        letter-spacing: 0.18rem;
    }
    
    .tleft {
        text-align: left;
    }
    .tright {
        text-align: right;
        position: absolute;
        top: 100%;
        left: 27.2%;
        width: 90%;
    }

    #endf {
        top: 88.7%;
        left: 26.7%;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service{
        background: url(img/newbg/servicesbg.jpg);
        position: relative;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 90vh;
        
    }

    .service .title {
        position: absolute;
        width: 20%;
        top: 5%;
    }

    .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .box-container .boxa, .boxb, .boxc {
        position: absolute;
        top: 35.6%;
        height: 11rem;
        width: 8rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 .3rem 5rem rbga(0, 0, 0, .5);
        margin: 0rem;
    }

    .boxa { 
        left: 24.4%;
    }

    .boxb {
        left: 45.4%;
    }

    .boxc {
        left: 66.7%;
    }

    .box-container .imgcontbox {
        width: 8rem;
        text-align: center;
        margin: 1rem 0;
    }

    .serviceof {
        font-size: 17px;
        line-height: 1.5rem;
        letter-spacing: 0.28;
        position: absolute;
        top: 77.3%;
        color: #fff;

    }

    #sodif {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    #btnserv {
        position: absolute;
        bottom: 20.5%;
        left: 43.5%;
    }

    .about {
        background: url(img/newbg/calculatorbg.jpg);
        min-height: 359.7vh;
        position: relative;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #calctitle {
        position: absolute;
        top: 1.3%;
        left: 34.9%;
        line-height: 4rem;
        letter-spacing: 0.95rem;
    }

    #paragcalc {
        position: absolute;
        text-align: center;
        width: 68%;
        top: 8.4%;
        font-size: 1rem;
        line-height: 2.5rem;
    }

    #subcalc {
        position: absolute;
        top: 16.2%;
        left: 42.1%;
        letter-spacing: 0.43rem;
        font-size: 1.17rem;
        color: #000;
    }

    #calch3 {
        position: absolute;
        top: 23.9%;
        font-size: 0.68rem;
        color: #000;
        letter-spacing: 0.17rem;
        left: 29.8%;
    }

    #solar-form label {
        position: absolute;
        letter-spacing: 0.18rem;
        top: 18.8%;
    }

    #leftform {
        left: 30.3%;
    }

    #rightform {
        left: 52.6%;
    }

    #solar-form input {
        position: absolute;
        background: rgba(101, 128, 101, 0);
        color: #fff;
        width: 8%;
        top: 21.4%;
        height: 1.1%;
    }

    #User-Consum {
        left: 34.3%;
    }

    #kW-cost {
        left: 56.6%;
    }
    .calcresult {
        position: absolute;
        letter-spacing: 0.2rem;
        line-height: 1.5rem;
    }

    .result p {
        color: #fff;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }

    #Annualsaving {
        position: absolute;
        top: 29.5%;
        left: 22.2%;
    }

    #solarprod {
        position: absolute;
        top: 29.5%;
        left: 46.4%;
    }

    #emissionsavo {
        position: absolute;
        top: 29.5%;
        left: 67.9%;
    }

    #estimatedinv {
        position: absolute;
        top: 40.2%;
        left: 26.7%;
    }

    #invreturntime {
        position: absolute;
        top: 40.2%;
        left: 64.2%;
    }

    #SaveANtext {
        top: 25.3%;
        left: 18.4%;
        width: 18%;
    }

    #EnerGentext {
        top: 32.6%;
        width: 13%;
        left: 43.8%;
    }

    #Emitext {
        top: 25.3%;
        right: 19.6%;
        width: 15%;
    }

    #invetext {
        top: 36.2%;
        width: 15%;
        left: 24.9%;
    }

    #retimetext {
        top: 36.2%;
        width: 17%;
        right: 23.6%;
    }


    #aboutim {
        position: absolute;
        max-width: 32.7%;
        top: 55.2%;
        right: 16.3%;
    }

    #aboutt {
        position: absolute;
        top: 56.6%;
        left: 17.6%;
        letter-spacing: 1.3rem;
    }

    .abouttext {
        text-align: justify;
        position: absolute;
        top: 69.4%;
        left: 16.2%;
        width: 26%;
    }

    .btnabout {
        background: #E1C699;
    }

    #btnvis {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 13.6%;
        width: 1.9%;
        height: 0.6%;
    }

    #btnmis {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 25.4%;
        width: 1.9%;
        height: 0.6%;
        
    }

    #btnval {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 36.7%;
        width: 1.9%;
        height: 0.6%;
    }

    #mision {
        top: 24.5%;
        left: 43.6%;
        letter-spacing: 12px;
    }

    .contact {
        background: url(img/newbg/contactbg.jpg);
        position: relative;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 186.4vh;
    }

    #contsub1 {
        top: 97.2%;
        color: #1A3171;
        font-size: 0.9rem;
        letter-spacing: 0.37rem;
    }

    #contsub2 {
        bottom: 96.3%;
        color: #1A3171;
        font-size: 0.9rem;
        letter-spacing: 0.37rem;
    }

    #contitle {
        position: absolute;
        bottom: 73.5%;
        letter-spacing: 1.27rem;
        left: 34.4%;
    }

    #wpp {
        position: absolute;
        left: 11.4%;
        top: 38.2%;
        color: #0e2454;
        font-size: 7.2rem;
    }

    #mail {
        position: absolute;
        left: 44.6%;
        top: 38.9%;
        color: #0e2454;
        font-size: 6.4rem;
    }

    #ig {
        position: absolute;
        left: 76.5%;
        top: 38.3%;
        font-size: 7.2rem;
        color: #0e2454;
    }

    .contactnum {
        text-decoration: none;
        position: absolute;
        left: 10.4%;
        color: #0e2454;
        font-size: 1.2rem;
        letter-spacing: 0.49rem;
    }

    #num1 {
        top: 50.1%;
    }

    #num2 {
        top: 53.1%;
    }

    #maillink {
        text-decoration: none;
        text-align: center;
        line-height: 2.3rem;
        position: absolute;
        top: 48.9%;
        left: 41.5%;
        color: #0e2454;
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
    }

    .logoimg {
        width: 25%;
        position: absolute;
        top: 70.4%;
        left: 37.4%;

    }

    #logoindex {
        bottom: 25%;
    }
}

@media (min-width: 1200px) {
        
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 63px;
        background-color: #00000000;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .navbar {
        display: flex;
        margin-right: 10px;

    }

    .logo {
        margin-left: 30px;

    }

    #logonav {
        width: 7%;
        position: absolute;
        left: 1.5%;
        top: 10px;
    }

    .navbar a {
        display: block;
        padding: 20px 20px;
        color: #fff;
        text-decoration: none;
        font-size: 23px;
    }

    .navbar a:hover {
        background: #5f5e5e54;
    }

    .title {
        margin-bottom: 40px;
        font-size: 58px;
        color: #0e2454;
        line-height: 7.8rem;
        letter-spacing: 1.8rem;
    }

    .sub-title {
        margin-bottom: 30px;
        font-size: 45px;
        position: absolute;
        letter-spacing: 1.13rem;
        line-height: 5.4rem;
        color: #ffffff;
        font-weight: lighter;
    }

    p {
        font-size: 35px;
        line-height: 4.2rem;
        letter-spacing: 0.34rem;
        color: #0e2454;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
        border: 2px solid #fff;
        background: #fff;
        color: #0e2454;
        text-decoration: none;
        height: 59px;
        width: 290px;
        font-size: 18px;
    }

    .btn:hover {
        background: none;
    }

    .btn-home {
        display: flex;
    }

    .btn-home a {
        margin: 0 10px;
    }

    .home {
        background: url(img/newbg/startbg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 119.7vh;
    }

    .overlay-home {
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translateX(-50%);
        max-height: 70%;
    }

    .overhome-effect {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        top: 77%;
    }

    .home .sub-title {
        position: absolute;
        color: #fff;
        letter-spacing: 7px;
        top: 14.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .welcome{
        background: url(img/newbg/homebg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 239.8vh;
    }
    #welcomest {
        position: absolute;
        color: #0e2454;
        letter-spacing: 1.9rem;
        top: 2.2%;
        left: 37.1%;
        font-weight: bold;
    }

    .welcome .title {
        position: absolute;
        color: #0e2454;
        font-weight: bold;
        top: 9%;
        left: 23%;
        letter-spacing: 18px;
    }

    .left-paragraph {
        text-align: left;
        position: absolute;
        bottom: 71.4%;
        left: 13.2%;
        width: 22%;
    }

    .right-paragraph {
        text-align: right;
        position: absolute;
        bottom: 57%;
        left: 14.2%;
        width: 26%;
    }

    .text3 {
        text-align: justify;
        position: absolute;
        top: 59.7%;
        left: 49.4%;
        width: 24.4%;
    }

    .img1 {
        position: absolute;
        top: 37%;
        left: 68.3%;
        transform: translate(-50%, -50%);
        min-width: 37.3%;
    }

    .img1-text1 {
        color: #fff6ea;
        font-size: 78px;
        text-align: left;
        position: absolute;
        bottom: 54.2%;
        left: 52%;
        width: 22%;
        letter-spacing: 0.78rem;
        line-height: 7rem;
    }

    .img1-text2 {
        color: #fff6ea;
        font-size: 46px;
        text-align: left;
        position: absolute;
        bottom: 49.9%;
        left: 52.2%;
        width: 37%;
        letter-spacing: 0.31rem;
        font-weight: lighter;
        line-height: 3.7rem;
    }

    .img2 {
        position: absolute;
        top: 62.8%;
        left: 26.6%;
        transform: translate(-50%, -50%);
        min-width: 29.9%;
    }

    .img2-text1 {
        color: #0e2454;
        font-size: 46px;
        text-align: center;
        position: absolute;
        bottom: 44.3%;
        left: 12.7%;
        width: 28%;
        letter-spacing: 0.3rem;
        line-height: 3.8rem;
    }

    .img2-text2 {
        color: #fff6ea;
        font-size: 37px;
        position: absolute;
        top: 70%;
        left: 10%;
        width: 25.5%;
        letter-spacing: 0.11rem;
        font-weight: lighter;
        line-height: 3rem;
    }

    .tleft {
        text-align: left;
    }

    .tright {
        text-align: right;
        position: absolute;
        top: 100%;
        left: 27.2%;
        width: 90%;
    }

    #endf {
        top: 88.7%;
        left: 24.7%;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service{
        background: url(img/newbg/servicesbg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 119.9vh;
        
    }

    .service .title {
        position: absolute;
        width: 15%;
        top: 5.5%;
        left: 39.1%;
    }

    .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .box-container .boxa, .boxb, .boxc {
        position: absolute;
        top: 35.6%;
        height: 18rem;
        width: 14rem;
        text-align: center;
    }

    .boxa { 
        left: 22.4%;
    }

    .boxb {
        left: 45.4%;
    }

    .boxc {
        left: 69.2%;
    }

    .box-container .imgcontbox {
        width: 16rem;
        text-align: center;
        margin: 1rem 0;
    }

    .serviceof {
        font-size: 28px;
        line-height: 2.5rem;
        letter-spacing: 0.28rem;
        position: absolute;
        top: 90.3%;
        color: #fff;

    }

    #sodif {
        font-size: 28px;
        line-height: 2.5rem;
        letter-spacing: 0.28rem;
    }

    #btnserv {
        position: absolute;
        bottom: 20.5%;
        left: 42.9%;
    }

    .about {
        background: url(img/newbg/calculatorbg.jpg);
        min-height: 359.7vh;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #calctitle {
        position: absolute;
        top: 1.6%;
        left: 33.7%;
        line-height: 7.8rem;
        letter-spacing: 1.8rem;
    }

    #paragcalc {
        position: absolute;
        text-align: center;
        font-size: 35px;
        line-height: 4.2rem;
        letter-spacing: 0.34rem;
        width: 70%;
        top: 8.8%;

    }

    #subcalc {
        position: absolute;
        top: 16.2%;
        left: 41.2%;
        margin-bottom: 30px;
        font-size: 39px;
        letter-spacing: 0.9rem;
        line-height: 5.4rem;
        font-weight: bold;
        color: #000;
    }

    #calch3 {
        position: absolute;
        top: 23.9%;
        font-size: 25px;
        color: #000;
        letter-spacing: 0.28rem;
        left: 27.8%;
    }

    #solar-form label {
        position: absolute;
        letter-spacing: 0.44rem;
        top: 18.8%;
        font-size: 2rem;
    }

    #leftform {
        left: 28.6%;
    }

    #rightform {
        left: 52.7%;
    }

    #solar-form input {
        position: absolute;
        background: rgba(101, 128, 101, 0);
        color: #fff;
        width: 8%;
        top: 21.3%;
        height: 1.1%;
    }

    #User-Consum {
        left: 32.1%;
    }

    #kW-cost {
        left: 56.6%;
    }

    .calcresult {
        position: absolute;
        letter-spacing: 0.45rem;
        line-height: 52px;
        font-size: 2rem;
    }

    .result p {
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }

    #Annualsaving {
        position: absolute;
        top: 29.5%;
        left: 20.6%;
    }

    #solarprod {
        position: absolute;
        top: 29.5%;
        left: 46.6%;
    }

    #emissionsavo {
        position: absolute;
        top: 29.5%;
        left: 70.8%;
    }

    #estimatedinv {
        position: absolute;
        top: 40.2%;
        left: 25.3%;
    }

    #invreturntime {
        position: absolute;
        top: 40.2%;
        left: 66.9%;
    }

    #SaveANtext {
        top: 25.2%;
        left: 17.3%;
        width: 16%;
    }

    #EnerGentext {
        top: 32.6%;
        width: 13%;
        left: 43.8%;
    }

    #Emitext {
        top: 25.2%;
        right: 17.4%;
        width: 15%;
    }

    #invetext {
        top: 36.1%;
        width: 18%;
        left: 21.79%;
    }

    #retimetext {
        top: 36.2%;
        width: 19%;
        right: 20.9%;
    }


    #aboutim {
        position: absolute;
        min-width: 35.8%;
        top: 55.1%;
        right: 13.2%;
    }

    #aboutt {
        position: absolute;
        top: 56.8%;
        left: 14.9%;
        line-height: 7.8rem;
        letter-spacing: 39px;
    }

    .abouttext {
        text-align: justify;
        position: absolute;
        top: 69.4%;
        left: 13%;
        width: 28.7%;
    }

    .btnabout {
        background: #E1C699;
    }

    #btnvis {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 13.6%;
        width: 1.9%;
        height: 0.6%;
    }

    #btnmis {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 25.4%;
        width: 1.9%;
        height: 0.6%;
        
    }

    #btnval {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 36.7%;
        width: 1.9%;
        height: 0.6%;
    }

    #mision {
        top: 24.5%;
        left: 43.6%;
        letter-spacing: 12px;
    }

    .contact {
        background: url(img/newbg/contactbg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 186.4vh;
    }

    #contsub1 {
        top: 98%;
        left: 24.3%;
        color: #1A3171;
        font-size: 30px;
        letter-spacing: 0.75rem;
        line-height: 5.4rem;
        font-weight: bold;
    }

    #contsub2 {
        bottom: 95.1%;
        left: 36.1%;
        color: #1A3171;
        font-size: 30px;
        letter-spacing: 0.75rem;
        line-height: 5.4rem;
        font-weight: bold;
    }

    #contitle {
        position: absolute;
        bottom: 75.3%;
        font-size: 65px;
        letter-spacing: 2.1rem;
        left: 33.3%;
    }

    #wpp {
        position: absolute;
        left: 7.7%;
        top: 38.2%;
        color: #0e2454;
        font-size: 14.8rem;
    }

    #mail {
        position: absolute;
        left: 44.4%;
        top: 38.9%;
        color: #0e2454;
        font-size: 12.9rem;
    }

    #ig {
        position: absolute;
        left: 79.2%;
        top: 38.3%;
        font-size: 14.8rem;
        color: #0e2454;
    }

    .contactnum {
        text-decoration: none;
        position: absolute;
        left: 6.7%;
        color: #0e2454;
        font-size: 40px;
        letter-spacing: 0.98rem;
        font-weight: bold;
    }

    #num1 {
        top: 50.1%;
    }

    #num2 {
        top: 53.1%;
    }

    #maillink {
        text-decoration: none;
        text-align: center;
        line-height: 4.6rem;
        position: absolute;
        top: 49.2%;
        left: 40.9%;
        color: #0e2454;
        font-size: 40px;
        letter-spacing: 0.98rem;
    }

    .logoimg {
        width: 27.4%;
        position: absolute;
        top: 70.5%;
        left: 36.4%;

    }

    #logoindex {
        bottom: 25%;
    }
}

@media (max-width: 360px) {
        
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 63px;
        background-color: #00000000;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .navbar {
        display: flex;
        margin-right: 10px;

    }

    .logo {
        margin-left: 30px;

    }

    #logonav {
        width: 7%;
        position: absolute;
        left: 1.5%;
        top: 10px;
    }

    .navbar a {
        display: block;
        padding: 20px 20px;
        color: #fff;
        text-decoration: none;
        font-size: 23px;
    }

    .navbar a:hover {
        background: #5f5e5e54;
    }

    .title {
        margin-bottom: 40px;
        font-size: 58px;
        color: #0e2454;
        line-height: 7.8rem;
        letter-spacing: 1.8rem;
    }

    .sub-title {
        margin-bottom: 30px;
        font-size: 45px;
        position: absolute;
        letter-spacing: 1.13rem;
        line-height: 5.4rem;
        color: #ffffff;
        font-weight: lighter;
    }

    p {
        font-size: 35px;
        line-height: 4.2rem;
        letter-spacing: 0.34rem;
        color: #0e2454;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
        border: 2px solid #fff;
        background: #fff;
        color: #0e2454;
        text-decoration: none;
        height: 59px;
        width: 290px;
        font-size: 18px;
    }

    .btn:hover {
        background: none;
    }

    .btn-home {
        display: flex;
    }

    .btn-home a {
        margin: 0 10px;
    }

    .home {
        background: url(img/newbg/startbg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 119.7vh;
    }

    .overlay-home {
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translateX(-50%);
        max-height: 70%;
    }

    .overhome-effect {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        top: 77%;
    }

    .home .sub-title {
        position: absolute;
        color: #fff;
        letter-spacing: 7px;
        top: 14.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .welcome{
        background: url(img/newbg/homebg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 239.8vh;
    }
    #welcomest {
        position: absolute;
        color: #0e2454;
        letter-spacing: 1.9rem;
        top: 2.2%;
        left: 37.1%;
        font-weight: bold;
    }

    .welcome .title {
        position: absolute;
        color: #0e2454;
        font-weight: bold;
        top: 9%;
        left: 23%;
        letter-spacing: 18px;
    }

    .left-paragraph {
        text-align: left;
        position: absolute;
        bottom: 71.4%;
        left: 13.2%;
        width: 22%;
    }

    .right-paragraph {
        text-align: right;
        position: absolute;
        bottom: 57%;
        left: 14.2%;
        width: 26%;
    }

    .text3 {
        text-align: justify;
        position: absolute;
        top: 59.7%;
        left: 49.4%;
        width: 24.4%;
    }

    .img1 {
        position: absolute;
        top: 37%;
        left: 68.3%;
        transform: translate(-50%, -50%);
        min-width: 37.3%;
    }

    .img1-text1 {
        color: #fff6ea;
        font-size: 78px;
        text-align: left;
        position: absolute;
        bottom: 54.2%;
        left: 52%;
        width: 22%;
        letter-spacing: 0.78rem;
        line-height: 7rem;
    }

    .img1-text2 {
        color: #fff6ea;
        font-size: 46px;
        text-align: left;
        position: absolute;
        bottom: 49.9%;
        left: 52.2%;
        width: 37%;
        letter-spacing: 0.31rem;
        font-weight: lighter;
        line-height: 3.7rem;
    }

    .img2 {
        position: absolute;
        top: 62.8%;
        left: 26.6%;
        transform: translate(-50%, -50%);
        min-width: 29.9%;
    }

    .img2-text1 {
        color: #0e2454;
        font-size: 46px;
        text-align: center;
        position: absolute;
        bottom: 44.3%;
        left: 12.7%;
        width: 28%;
        letter-spacing: 0.3rem;
        line-height: 3.8rem;
    }

    .img2-text2 {
        color: #fff6ea;
        font-size: 37px;
        position: absolute;
        top: 70%;
        left: 10%;
        width: 25.5%;
        letter-spacing: 0.11rem;
        font-weight: lighter;
        line-height: 3rem;
    }

    .tleft {
        text-align: left;
    }

    .tright {
        text-align: right;
        position: absolute;
        top: 100%;
        left: 27.2%;
        width: 90%;
    }

    #endf {
        top: 88.7%;
        left: 24.7%;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service{
        background: url(img/newbg/servicesbg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 119.9vh;
        
    }

    .service .title {
        position: absolute;
        width: 15%;
        top: 5.5%;
        left: 39.1%;
    }

    .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .box-container .boxa, .boxb, .boxc {
        position: absolute;
        top: 35.6%;
        height: 18rem;
        width: 14rem;
        text-align: center;
    }

    .boxa { 
        left: 22.4%;
    }

    .boxb {
        left: 45.4%;
    }

    .boxc {
        left: 69.2%;
    }

    .box-container .imgcontbox {
        width: 16rem;
        text-align: center;
        margin: 1rem 0;
    }

    .serviceof {
        font-size: 28px;
        line-height: 2.5rem;
        letter-spacing: 0.28rem;
        position: absolute;
        top: 90.3%;
        color: #fff;

    }

    #sodif {
        font-size: 28px;
        line-height: 2.5rem;
        letter-spacing: 0.28rem;
    }

    #btnserv {
        position: absolute;
        bottom: 20.5%;
        left: 42.9%;
    }

    .about {
        background: url(img/newbg/calculatorbg.jpg);
        min-height: 359.7vh;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #calctitle {
        position: absolute;
        top: 1.6%;
        left: 33.7%;
        line-height: 7.8rem;
        letter-spacing: 1.8rem;
    }

    #paragcalc {
        position: absolute;
        text-align: center;
        font-size: 35px;
        line-height: 4.2rem;
        letter-spacing: 0.34rem;
        width: 70%;
        top: 8.8%;

    }

    #subcalc {
        position: absolute;
        top: 16.2%;
        left: 41.2%;
        margin-bottom: 30px;
        font-size: 39px;
        letter-spacing: 0.9rem;
        line-height: 5.4rem;
        font-weight: bold;
        color: #000;
    }

    #calch3 {
        position: absolute;
        top: 23.9%;
        font-size: 25px;
        color: #000;
        letter-spacing: 0.28rem;
        left: 27.8%;
    }

    #solar-form label {
        position: absolute;
        letter-spacing: 0.44rem;
        top: 18.8%;
        font-size: 2rem;
    }

    #leftform {
        left: 28.6%;
    }

    #rightform {
        left: 52.7%;
    }

    #solar-form input {
        position: absolute;
        background: rgba(101, 128, 101, 0);
        color: #fff;
        width: 8%;
        top: 21.3%;
        height: 1.1%;
    }

    #User-Consum {
        left: 32.1%;
    }

    #kW-cost {
        left: 56.6%;
    }

    .calcresult {
        position: absolute;
        letter-spacing: 0.45rem;
        line-height: 52px;
        font-size: 2rem;
    }

    .result p {
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }

    #Annualsaving {
        position: absolute;
        top: 29.5%;
        left: 20.6%;
    }

    #solarprod {
        position: absolute;
        top: 29.5%;
        left: 46.6%;
    }

    #emissionsavo {
        position: absolute;
        top: 29.5%;
        left: 70.8%;
    }

    #estimatedinv {
        position: absolute;
        top: 40.2%;
        left: 25.3%;
    }

    #invreturntime {
        position: absolute;
        top: 40.2%;
        left: 66.9%;
    }

    #SaveANtext {
        top: 25.2%;
        left: 17.3%;
        width: 16%;
    }

    #EnerGentext {
        top: 32.6%;
        width: 13%;
        left: 43.8%;
    }

    #Emitext {
        top: 25.2%;
        right: 17.4%;
        width: 15%;
    }

    #invetext {
        top: 36.1%;
        width: 18%;
        left: 21.79%;
    }

    #retimetext {
        top: 36.2%;
        width: 19%;
        right: 20.9%;
    }


    #aboutim {
        position: absolute;
        min-width: 35.8%;
        top: 55.1%;
        right: 13.2%;
    }

    #aboutt {
        position: absolute;
        top: 56.8%;
        left: 14.9%;
        line-height: 7.8rem;
        letter-spacing: 39px;
    }

    .abouttext {
        text-align: justify;
        position: absolute;
        top: 69.4%;
        left: 13%;
        width: 28.7%;
    }

    .btnabout {
        background: #E1C699;
    }

    #btnvis {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 13.6%;
        width: 1.9%;
        height: 0.6%;
    }

    #btnmis {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 25.4%;
        width: 1.9%;
        height: 0.6%;
        
    }

    #btnval {
        position: absolute;
        background: #eee1ca;
        top: 64.9%;
        left: 36.7%;
        width: 1.9%;
        height: 0.6%;
    }

    #mision {
        top: 24.5%;
        left: 43.6%;
        letter-spacing: 12px;
    }

    .contact {
        background: url(img/newbg/contactbg.jpg);
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 186.4vh;
    }

    #contsub1 {
        top: 98%;
        left: 24.3%;
        color: #1A3171;
        font-size: 30px;
        letter-spacing: 0.75rem;
        line-height: 5.4rem;
        font-weight: bold;
    }

    #contsub2 {
        bottom: 95.1%;
        left: 36.1%;
        color: #1A3171;
        font-size: 30px;
        letter-spacing: 0.75rem;
        line-height: 5.4rem;
        font-weight: bold;
    }

    #contitle {
        position: absolute;
        bottom: 75.3%;
        font-size: 65px;
        letter-spacing: 2.1rem;
        left: 33.3%;
    }

    #wpp {
        position: absolute;
        left: 7.7%;
        top: 38.2%;
        color: #0e2454;
        font-size: 14.8rem;
    }

    #mail {
        position: absolute;
        left: 44.4%;
        top: 38.9%;
        color: #0e2454;
        font-size: 12.9rem;
    }

    #ig {
        position: absolute;
        left: 79.2%;
        top: 38.3%;
        font-size: 14.8rem;
        color: #0e2454;
    }

    .contactnum {
        text-decoration: none;
        position: absolute;
        left: 6.7%;
        color: #0e2454;
        font-size: 40px;
        letter-spacing: 0.98rem;
        font-weight: bold;
    }

    #num1 {
        top: 50.1%;
    }

    #num2 {
        top: 53.1%;
    }

    #maillink {
        text-decoration: none;
        text-align: center;
        line-height: 4.6rem;
        position: absolute;
        top: 49.2%;
        left: 40.9%;
        color: #0e2454;
        font-size: 40px;
        letter-spacing: 0.98rem;
    }

    .logoimg {
        width: 27.4%;
        position: absolute;
        top: 70.5%;
        left: 36.4%;

    }

    #logoindex {
        bottom: 25%;
    }
}